@{
    ViewBag.Title = "XemDanhSachSanPhamMoiDang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DauGia.Models;

<h2>Index</h2>
    
     @{
         List<SanPham> ds = (List<SanPham>)ViewData["DanhSachSanPhamMoiDang"];  
       
     }

   @{
      if(ds.Count > 0)
      { 
      for(int i = 0; i < 3; i++)
      { 
        <div style="height:250px ; margin-top:@i*250 " >
            @for (int j = 0; j < 3; j++) 
            { 
                <div style="float:left; width:250px; margin-left:@j*250; text-align:center ">
                <div>
                <img  src="../../Content/imagesanpham/@ds[i*3+j].HinhAnh "  alt="Không có hình ảnh trong dữ liệu" style="height:150px ; width:100px" />
                </div>
                <div>
               @Html.ActionLink(ds[i*3+j].TenSanPham,"XemChiTietSanPham/"+ds[i*3+j].MaSanPham.ToString(),"SanPham")
                <br />
                @Html.Label("Giá hiện tại:")
                @Html.Label(ds[i*3+j].GiaHienTai)
                <br />
                 @Html.Label("Giá khởi điểm:")
                @Html.Label(ds[i * 3 + j].GiaKhoiDiem)
                </div>
                </div>
             } 
        </div>
     } 
    } 
    }

